<%= form_with(model: season, local: true) do |form| %>
  <% if season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
      <% season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :season_number %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, id: :season_release_date %>
  </div>

  <div class="field">
    <%= form.label :serie_id %>
    <%= form.text_field :serie_id, id: :season_serie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
