<%= form_for @season, url: series_seasons_path do |form| %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :season_number %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, id: :season_release_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
