<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading"><h1><%= @season.serie.title %>: Season <%= @season.number %></h1></div>
  <div class="panel-body">
    <div class="serie-atrib">
      Release date: <%= @season.release_date %>
    </div>
    </div>
    </div>


<% if user_signed_in? && (current_user.is_admin? || @season.serie.user == current_user) %>
	<div>
  <table>
  <tr>
  	<td><%= button_to "Edit", edit_season_path(@season), :id => "edit-season-btn",
      :class => "btn btn-default", :method => :get %></td>
    <td><%= button_to "Destroy", @season, :id => "delete-season-btn",
      :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </table>
    </div>
<% end %>

<p>
  <h2>Chapters: </h2>
  <% if @season.chapters.exists? %>
    <table class='table'>
      <thead>
        <tr>
          <th>
            n°
          </th>
          <th>
            Title
          </th>
          <th>
            Summary
          </th>
          <th>
            Added by
          </th>
        </tr>
      </thead>

      <tbody>
        <% @n = 1 %>
        <% @season.chapters.each do |chapter| %>
          <tr>
            <td><%= @n %></td>
            <td><%= chapter.title %></td>
            <td><%= chapter.summary %></td>
            <td><%= chapter.user.username %></td>
            <td><%= button_to "Show", chapter, :id => "show-chapter-btn",
      :class => "btn btn-warning", :method => :get %></td>
          </tr>
          <%@n = @n + 1%>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<div>
<% if user_signed_in? && (current_user.is_admin? || @season.serie.user == current_user) %>
	<%= button_to "New Chapter", new_season_chapter_path(@season), :id => "new-season-chapter-btn",
      :class => "btn btn-default", :method => :get %>
<% end %>
</div>
<div><%= button_to "Back", @season.serie, :id => "back-seasons-btn",
      :class => "btn btn-default", :method => :get %></div>

