<!DOCTYPE html>
<html>
  <head>
    <title>

      <% if content_for? :title %>
        Series4u | <%= yield :title %>
      <% else %>
        Series4u
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>

    <% unless user_signed_in? %>
      <p><%=  link_to 'Sign up', new_user_registration_path%></p>
      <p><%=  link_to 'Sign in', new_user_session_path%></p>
    <% end %>

    <%= render partial: 'common/navbar' %>
    <%= yield %>
  </body>
</html>
