<h1><%= current_user.full_name %>'s profile</h1>
<% if current_user.is_kid? %>
  <h2> <%= current_user.parent.full_name %>'s Kid account </h2>
<% end %>

<div>
  Username: <%= current_user.username %>
</div>

<div>
  <%= image_tag current_user.picture.url if current_user.picture? %>
</div>

<div>
  Email: <%= current_user.email %>
</div>

<div>
  Full name: <%= current_user.full_name.nil? ? 'Not specified' : current_user.full_name %>
</div>

<div>
  Description: <%= current_user.description.nil? ? 'Not specified' : current_user.description %>
</div>

<div><%= link_to "Edit profile", edit_user_registration_path %></div>

<% unless current_user.is_kid? %>
    <div><%= link_to "Manage kids", kids_path %></div>
<% end %>