<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @story.title %></h1>
  </div>
  <div class="panel-body">
    <%= @story.content %> 
  </div>
  <div class="panel-body">
    Date: <%= @story.date %>
  </div>
</div>
  <% if user_signed_in? && current_user.is_admin? %>
    <table>
    <tr>
    <td><%= button_to "Edit story", edit_story_path(@story), :id => "edit-story-btn",
      :class => "btn btn-default", :method => :get %></td>
    <td><%= button_to "Destroy", story_path(@story), :id => "delete-story-btn",
      :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </table>
  <% end %>

