
<h1><%= @story.title %></h1>
<div id="story">
      <div class="info-value">
        <%= @story.content %>
      </div>
      <div class="info-name">
        Date:
      </div>
      <div class="info-value">
        <%= @story.date %>
      </div>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit story', edit_story_path(@story), class: 'button-primary' %>
    <%= link_to 'Delete', story_path(@story), :method => :delete,
                                            :confirm => "Are you sure you want to delete?",
                                            :remote => true,
                                            class: 'btn btn-table-action btn-danger' %>
  <% end %>
</div>
