<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Title: <%= @chapter.title %></h1>
    <div>
      <% if @favorite_chapter.exists? %>
        <%= button_to "Unmark as favorite", @favorite_chapter.first, :method => :delete %>
      <% else %>
        <%= button_to "Mark as favorite", new_chapter_favorite_chapter_path(@chapter), :method => :get %>
      <% end %>
    </div>
    <div>
      <% if @view.exists? %>
      <%= button_to "Mark as unseen", @view.first, :id => "mark-unseen-btn",
          :class => "btn btn-warning", :method => :delete %>
      <% else %>
      <%= button_to "Mark as seen", new_chapter_view_path(@chapter), :id => "mark-seen-btn",
          :class => "btn btn-warning", :method => :get %>
      <% end %>
    </div>
  </div>

  <div class="panel-body">
    <div class="serie-atrib">
      <% if @view.exists? %>
      <strong>Status</strong>: Viewed.
    <% else %>
      <strong>Status</strong>: Not seen yet.
    <% end %>
    </div>
    <div class="serie-atrib">
      <strong>Summary</strong>: <%= @chapter.summary %>
    </div>
    <div class="serie-atrib">
      <strong>Added by</strong>: <%= @chapter.user.username %>
    </div>
    <div class="serie-atrib">
    <strong>Season</strong>: <%= @chapter.season.number %>
    </div>
      </div>
    </div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Additional info</h4></div>
  <div class="panel-body">
    <div class="serie-atrib">
  <strong>Actors:</strong>
    <% @chapter.actors.each do |actor| %>
      <%= actor.name %>
      <%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %>,
    <% end %>
    </div>
    <div class="serie-atrib">
      <strong>Directors:</strong>
    <% @chapter.directors.each do |director| %>
      <%= director.name %>
      <%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %>,
    <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="serie-atrib">
    <table class='table-fixed'>
      <tr><strong>Your Rating:</strong></tr>
      <% if @chapter_rating.exists? %>
        <tr><%= @chapter_rating.first.stars %></tr>
        <tr><%= button_to "Edit", edit_chapter_rating_path(@chapter_rating.first), :id => "edit-chapter-rating-btn",
      :class => "btn btn-default btn-sm", :method => :get %></tr>
      <% elsif @view.exists? %>
            <tr><%= button_to "Rate Chapter", new_chapter_chapter_rating_path(@chapter), :id => "rate-chapter-btn",
      :class => "btn btn-default btn-sm", :method => :get %></tr>
      <% else %>
        In order to rate this chapter, you have to mark it as seen.
      <% end %>
    </div>
    <% end %>
    </table>
    <div class="serie-atrib">
      <strong>Rating Avg:</strong>
      <% @total = 0 %>
      <% @chapter_ratings.each do |r| %>
        <% @total += r.stars %>
      <% end %>
      <%= @total %>
    </div>
    <div class="serie-atrib">
<% if user_signed_in? %>
  <table class='table-fixed'>
    <tr><strong>Reviews:</strong></tr>
    <% if @view.exists? %>
      <tr><%= button_to "New Review", new_chapter_chapter_review_path(@chapter), :id => "new-chapter-review-btn",
      :class => "btn btn-default btn-sm", :method => :get %></tr>
    <% else %>
      In order to create a review for this chapter, you have to mark it as seen.
    <% end %>
    </table>
    <% if @chapter_reviews.exists? %>
      <table class="table">
        <thead>
          <tr>
            <th>
              User
            </th>
            <th>
              Content
            </th>
          </tr>
        </thead>
        <tbody>
          <% @chapter_reviews.each do |rv| %>
            <tr>
              <td><%= rv.view.user.username %></td>
              <td><%= rv.content %></td>
              <% if rv.view.user == current_user %>
                <td><%= link_to 'Edit', edit_chapter_review_path(rv) %></td>
              <% end %>
              <% if rv.view.user == current_user || current_user.is_admin? %>
                <td><%= link_to 'Destroy', rv, method: :delete %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
<% end %>
    </div>
      </div>
    </div>
<div class="panel-heading"><h3>Schedule</h3>
  <div class="panel-body" align="left">
    <% if @to_see.exists? %>
      Scheduled to <%= @to_see.first.start_time %>
      <%= button_to "Unschedule", @to_see.first, :method => :delete %>
    <% else %>
      <%= form_for @new_to_see, url: chapter_to_sees_path(@chapter) do |form| %>
        <div class="field">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time, id: :to_see_start_time %>
        </div>
        <div class="actions">
          <%= form.submit 'Create' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? && (current_user.is_admin? || @chapter.season.serie.user == current_user) %>
  <%= form_for :share, url: share_chapter_path do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <%= form.submit 'Share' %>
  <% end %>
  <table class='table-fixed'>
    <tr>
  <td><%= button_to "Edit", edit_chapter_path(@chapter), :id => "edit-chapter-btn",
      :class => "btn btn-default", :method => :get %></td>
  <td><%= button_to "Destroy", @chapter, :id => "delete-chapter-btn",
      :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </table>
<% end %>
<div><%= button_to "Back", @chapter.season, :id => "backs-chapters-btn",
      :class => "btn btn-default", :method => :get %></div>
