<p id="notice"><%= notice %></p>

<h1 align="center">Series</h1>
<div class="row">
<% @series.each do |serie| %>
  <div class="col-sm-5 col-md-4">
    <div class="thumbnail">
      <%= image_tag serie.picture.url if serie.picture? %>
      <div class="caption">
        <h3><%= serie.title %></h3>
        <p>Country: <%= serie.country %></p>
        <!-- <p>Genre: <%= serie.genre %></p> -->
        <p><%= button_to "More info", serie, :id => "open-contacts-dialog-btn",
      :class => "btn btn-primary", :method => :get %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

<% if user_signed_in? %>
  <div align="center"><%= button_to "New Series", new_series_path, :id => "new-series-btn",
      :class => "btn btn-warning", :method => :get %></div>
<% end %>
