<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Country
      </th>
      <th>
        Genre
      </th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.title %></td>
        <td><%= series.country %></td>
        <td><%= series.genre %></td>
        <td><%= link_to 'Show', series %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>