<p id="notice"><%= notice %></p>

<h1>Series</h1>


<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Country
      </th>
      <th>
        Genre
      </th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |serie| %>
      <% if current_user.role == 0 or serie.user_id == current_user.id %>
        <tr>
          <td><%= serie.title %></td>
          <td><%= serie.country %></td>
          <td><%= serie.genre %></td>
          <td><%= link_to 'Show', serie %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
