<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1><%= @serie.title %></h1></div>
  <div class="panel-body">
    <div class="serie-atrib">
      Genre: <%= @serie.genre %>
    </div>
    <div class="serie-atrib">
      Added by: <%= @serie.user.username %>
    </div>
    <div class="serie-atrib">
      Country: <%= @serie.country %>
    </div>
      </div>
    </div>


<p>
<h2>Seasons: </h2>
<%= link_to 'New Season', new_series_season_path(@serie) %>
<% if @serie.seasons.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>
          n°
        </th>
        <th>
          Release_Date
        </th>
      </tr>
    </thead>

    <tbody>
      <% @serie.seasons.each do |season| %>
        <tr>
          <td><%= season.number %></td>
          <td><%= season.release_date %></td>
          <td><%= link_to 'Show', season %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</p>


<% if user_signed_in? && (!@serie.public? || current_user.is_admin?) %>
    <div>
    <td><%= link_to 'Edit', edit_series_path(@serie) %></td>
    </div>
    <div>
    <td><%= link_to 'Destroy', @serie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
<% end %>
<%= link_to 'Back', series_index_path %>