<p id="notice"><%= notice %></p>

<h1><%= @serie.title %></h1>

<div class="serie-atrib">
  Genre: <%= @serie.genre %>
</div>
<div class="serie-atrib">
  Added by: <%= @serie.user.username %>
</div>
<div class="serie-atrib">
  Country: <%= @serie.country %>
</div>

<% if !@serie.public? || current_user.is_admin? %>
    <td><%= link_to 'Edit', edit_series_path(@serie) %></td>
    <td><%= link_to 'Destroy', @serie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<h2>Seasons: </h2>
<%= link_to 'New Season', new_season_path(:serie_id => @serie.id) %>
<table>
  <thead>
    <tr>
      <th>
        Number
      </th>
      <th>
        Release_Date
      </th>
    </tr>
  </thead>

  <tbody>
    <% Season.where(serie_id: @serie.id).find_each.each do |season| %>
      <tr>
        <td><%= season.number %></td>
        <td><%= season.release_date %></td>
        <td><%= link_to 'Show', season %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', series_index_path %>
